<div class="footer-wrapper">
<footer>
<div class="footer-nav footer-nav_first">
	<a href="#">
		<h2>Urlaubsglück</h2>
	</a>
</div>
<div class="footer-nav footer-nav_second">
	<h3>Company</h3>
	<ul>
		<li><a href="#">About</a>

</li>
		<li><a href="#">Contacts</a></li>
		<li><a href="#">Press</a></li>
		<li><a href="#">Blog</a></li>
	</ul>
</div>
<div class="footer-nav footer-nav_three">
	<h3>Partners</h3>
</div>
<div class="footer-nav footer-nav_four">
	<a href="#">
		<figure>
			<figcaption>
				Designed by
			</figcaption>
			<div class="footer-logo"></div>
		</figure>
	</a>
</div>

</footer>
</div>