<div class="ideas">



             <h2> Discover holiday activity ideaas</h2>
                <div class="grid js-masonry" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 300, "gutter": 30 }'>
                     <div class="grid-item"></div>
                     <div class="grid-item"></div>
                     <div class="grid-item"></div>
                     <div class="grid-item"></div>
                     <div class="grid-item grid-item--width2"></div>
                     <div class="grid-item grid-item--width2"></div>
                     <div class="grid-item"></div>
                </div>

            <div class="search-form">
                <h2 class="search-form-heading">Discover holiday activity ideas</h2>
                <p class="search-form-heading-small">Hi! What are your holiday interests?</p>
                <input type="text" class = "search-area" placeholder="Enter your interests">
                <input type="button" class = "search-button" value="Search partners">
            </div>

        </div>