<div class="partner">
	<div class="partner-wrapper">
		<h2>Meet a partner for your best holiday</h2>
		<div class="partner-person">
			<figure>
				<img src="img/partner1.jpg">
				<div class="litlimg tv"></div>
				<figcaption>
					Bradley Hunter
				</figcaption>
				<p>Based in Chicago. I love playing tennis and loud music.</p>
			</figure>

		</div>
		<div class="partner-person">
			<figure>
				<img src="img/partner2.jpg">
				<div class="litlimg cofee"></div>
				<figcaption>
					Heather Walker
				</figcaption>
				<p>I'm a happy person that loves cats and climbing on mountains.</p>
			</figure>
		</div>
		<div class="partner-person partner-person-tablet">
			<figure>
				<img src="img/patner3.jpg">
				<div class="litlimg gl"></div>
				<figcaption>
					Lucas Marsha
				</figcaption>
				<p>I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</p>
			</figure>
		</div>
		<div class="partner-person partner-person-tablet">
			<figure>
				<img src="img/parner4.jpg">
				<div class="litlimg ls"></div>
				<figcaption>
					Bradley Hunter
				</figcaption>
				<p>Based in Chicago. I love playing tennis and loud music.</p>
			</figure>
		</div>
		<div class="clearfix"></div>
		<a href="#">See other partners</a>
	</div>
</div>