 @import "mixins.scss";



.header-wrapper {
	  @include breakpoint(tablet){

        padding-left: 50px;
        padding-right: 50px;

    }
@include breakpoint(mobile){

     			min-width: 320px	;
     			width:  100%;



    }

	background: url(../img/promomain.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	height: 700px;
	header {



    		margin: 0 auto;
		padding-top: 30px;
		@include breakpoint(mobile){

     			padding-top: 20px;
     			position: relative;



    }



	.header-name {
			font-family: 'Montserrat-Bold';
			color: #ffffff;
			font-size: 20px;
			font-weight: 700;
			text-align: left;
			display: inline-block;
			text-decoration: none;
			@include breakpoint(mobile){


     			position: absolute;
     			top: 100px;
     			text-align: center;
     			 left: 50%;

     			   transform: translate(-50%, 0);




    }

		}
		h1 {
			font-family: Montserrat-Bold;
			color: #ffffff;
			font-size: 52px;
			font-weight: 700;
			text-align: center;
			width: 500px;
			margin: 0 auto;
			margin-top: 152px;
			text-transform: uppercase;
			margin-bottom: 45px;
					}
			p {
				font-family: Roboto-Light;
				color: #ffffff;
				font-size: 24px;
				font-weight: 300;
				text-align: center;
				margin-bottom: 40px;
			}
			button {
				font-family: Montserrat-Bold;
				color: #ffffff;
				font-size: 13px;
				font-weight: 700;
				text-align: center;
				background-color: #ff4e50;
				width: 225px;
				height: 40px;
				border: none;
				border-radius:16px;
				margin: 0 auto;
				display: block;
				padding: 12px 21px;
			}
		form {
			float: right;
			text-align: left;
			@include breakpoint(mobile){
				display: block;
     			width: 190px;
     			margin: 0 auto;
     			float: none;



    }

			.header-autoriz_log {
				text-align: right;
				display: inline-block;
				font-family: Montserrat-Bold;
				color: #ffffff;
				font-size: 14px;
				font-weight: 700;
				padding: 10px  15px;
				text-decoration: none;

			}


			.header-autoriz_enter {
				font-family: Montserrat-Bold;
				color: #ffffff;
				font-size: 14px;
				font-weight: 700;
				text-align: center;
				padding: 10px  15px;
				border: 2px solid #fff;
				border-radius: 18px;
				text-decoration: none;

			}


		}

	}
}
